---
layout: default
---
<div>
  {% if page.mainImagePath %}
    <img src="{{ page.mainImagePath | relative_url }}" alt="{{ page.title }}">
  {% endif %}
  {% if page.mainVideoPath %}
    <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="{{ page.mainVideoPath }}"
        style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen"
        allowfullscreen></iframe></div>
    <script src="https://player.vimeo.com/api/player.js"></script>
  {% endif %}
  <p class="robotoMono f3-ns f3 mb2-ns mb4 mt3-ns mt3">
    {{ page.title | upcase}}
  </p>
  {% if page.interactiveSite %}
    {% for site in page.interactiveSite %}
      <a class="interactiveSite robotoMono f6 link dim br2 ba ph3 pv2 mb3 dib black" href="{{ site.url }}">Visit the {{ site.name }} website</a>
    {% endfor %}
  {% endif %}
  {% if page.researchPaper %}
    {% for paper in page.researchPaper %}
      <a class="interactiveSite robotoMono f6 link dim br2 ba ph3 pv2 mb3 dib black" href="{{ paper.url }}">Read {{ paper.name }}</a>
    {% endfor %}
  {% endif %}
  <div class="roboto f5">
    {{ content }}
  </div>
</div>
