---
layout: default
---
<div>
  <img src="{{ page.mainImagePath | relative_url }}" alt="{{ page.title }}">
  <p class="robotoMono f3-ns f3 mb2-ns mb4 mt3-ns mt3">
    {{ page.title | upcase}}
  </p>
  {% if page.interactiveSite %}
    {% for site in page.interactiveSite %}
      <a class="interactiveSite robotoMono f6 link dim br2 ba ph3 pv2 mb3 dib black" href="{{ site.url }}">Visit the {{ site.name }} website</a>
    {% endfor %}
  {% endif %}
  {% if page.researchPaper %}
    {% for paper in page.researchPaper %}
      <a class="interactiveSite robotoMono f6 link dim br2 ba ph3 pv2 mb3 dib black" href="{{ paper.url }}">Read {{ paper.name }}</a>
    {% endfor %}
  {% endif %}
  <div class="roboto f5">
    {{ content }}
  </div>
</div>
