.robotoMono {
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
}

.roboto {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

h1 {
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    padding-top: 1em;
}
h2 {
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    padding-top: 1em;
}
h3 {
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    padding-top: 1em;
}
h4 {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    padding-top: 1em;
}

a, a:visited {
    color: black;
    text-decoration: none;
    /* text-decoration-color: red; */
    border-bottom: 1px solid;
    border-color: #ff8800;
}
a:hover {
    text-decoration: none;
}
.site-title {
    border-bottom: 0px;
    font-size: 1em;
    font-weight: 400;
}
ul {
    list-style-type: circle;
    margin-left: 1em;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    font-size: 0.85em;
}
li {
    padding-bottom: 1em;
}